html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////////////////////////////////////////////////////////////// */

 h1 {
    font-family: Oswald;
    font-size: 48px;
    line-height: 64px;
    color: white;
    margin: 16px;
 }

 h2 {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 32px;
    color: white;
    font-weight: 400;
 }

 p {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 980px;
    text-align: left;
    width: 416px;
 }

 header {
   background: url(/assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg) 50% 0 no-repeat;
   height: 800px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

main {
   background:#ffffff;
   height: 700px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

footer {
  background: #464547;
  height: 170px;
  width:1200;
}

nav {
   display: flex;
   align-items: center;
}

 #transparent_h2 {
    color: rgba(255, 255, 255, 0.7);
 }

 #main_h2 {
    color: #666666;
 }
 
 #headermain_h1 {
    color: #464547;
 }

 #play_button {
    margin: 53px;
 }

 #read_more_button {
    margin: 20px;
 }

 #footer_text {
    color: rgba(255, 255, 255, 0.4);
 }

 .learn-more {
    background: url(/assets/Background\ image.jpg) 50% 0 no-repeat;
    height: 666px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .nav_logo {
   font-family: 'Source Sans Pro';
   font-size: 24px;
   line-height: 32px;
   color: white;
   font-style: normal;
   text-decoration: none;
   letter-spacing: 0.1em;
   }

.menu_elements a{
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #ffffff;
   text-decoration: none;
}

.menu_elements {
   display: flex;
}

.menu_item {
   list-style-type: none;
   margin-left: 32px;
}

.description {
   display: flex;
   width: 907px;
   justify-content: space-between;
   margin: 45px 0px;
}

.footer_content {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(2, 1fr);
   width: 900px;
}

.street {
   grid-column: 3;
}

.email {
   grid-column: 3;
   grid-row: 2;
}
